$ui-breakpoint-xl: "1200px";
$ui-breakpoint-xl-min: "1201px";

$ui-breakpoint-lg: "992px";
$ui-breakpoint-lg-min: "993px";

$ui-breakpoint-md: "768px";
$ui-breakpoint-md-min: "769px";

$ui-breakpoint-sm: "576px";
$ui-breakpoint-sm-min: "577px";