.revolutionary{
    padding-top: 52px;
    padding-bottom: 88px;
}
.revolutionary__title{
    color: #635C73;
text-align: center;
font-family: Montserrat;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: 28px; 
text-transform: uppercase;
margin-bottom: 27px;
}
.revolutionary__subtitle{
    color: #323232;
text-align: center;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
width: 276px;
height: 74px;
margin-bottom: 36px;
text-align: center;
@media screen and (min-width:$ui-breakpoint-xs){

    width: 400px;
height: 48px;
}
@media screen and (min-width:$ui-breakpoint-sm){

    width: 489px;
height: 58px;
}
@media screen and (min-width:$ui-breakpoint-md){

    width: 669px;
height: 58px;
}
@media screen and (min-width:$ui-breakpoint-xl){

    width: 781px;
    height: 64px;
}
span{
    display: inline;
    @media screen and (min-width:$ui-breakpoint-md-lg){

       display: block;
    }
}
}
.revolutionary__link_content{
    @include flexCenter ;
 gap: 15px;
  flex-wrap: wrap;
}
.revolutionary__img__first{
    display: block;
    margin-bottom: 20px;
    @media screen and (min-width:$ui-breakpoint-md){

       margin-bottom: 0;
         }
}
.revolutionary__link__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    border: 1px solid;
    background-color: #f6f8fa;
     
    border: 1px solid rgb(145, 140, 140);
  
     border-top-left-radius: 6px;
     border-bottom-left-radius: 6px;
     border-top-right-radius: 6px;
     border-bottom-right-radius: 6px;
     padding-left: 10px;
     p{
        padding: 0 10px;
        font-size: 12px;
        line-height: 20px;
   
     }

}
.revolutionary__link{
    width: 77px;
}
.revolutionary__numbers{
    width: 60px;
    height: 28px;
background-color: #fff;
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
border-left: 1px solid  rgb(145, 140, 140);
}
