.what_get{
    padding-top: 61px;
    padding-bottom: 420px;
    position: relative;
    background-color:  #F4F4F4;
    @media screen and (min-width:$ui-breakpoint-xl){
        padding-top: 94px;
        padding-bottom: 77px;
         }
}
.what_get__wrapper{
    @media screen and (min-width:$ui-breakpoint-xl){
width: 50%;
    }
}
.what_get__title{
    color: #8D81AC;
font-family: Montserrat;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 44px; /* 104.762% */
text-align: center;
margin-bottom: 36px;
text-align: center;
@media screen and (min-width:$ui-breakpoint-xl){
    font-size: 48px;
}
}
.what_get__cerd{
@include flexCenterColumn;
margin-bottom: 42px;
@media screen and (min-width:$ui-breakpoint-md){
flex-direction: row;
align-items: flex-start;
}
@media screen and (min-width:$ui-breakpoint-xl){

}
&:last-of-type{
    margin-bottom: 0;
}
.what_get__cerd_size_img1{
    width: 111px;
height: 64px;
margin-bottom: 27px;
}
.what_get__cerd_size_img2{
    width: 90px;
    height: 80px;
    margin-bottom: 27px;
}
.what_get__cerd_size_img3{
    width: 60px;
    height: 84px;
    margin-bottom: 27px;
}
.what_get__cerd_size_img4{
    width: 71px;
    height: 71px;
    margin-bottom: 27px;
}
}
.what_get__cerd__text{
    @include flexCenterColumn;
    @media screen and (min-width:$ui-breakpoint-md){
        align-items: flex-start;
        justify-content: start;
        }
        @media screen and (min-width:$ui-breakpoint-xl){
        
        }
    h3{
        color: #323232;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; 
margin-bottom: 14px;
@media screen and (min-width:$ui-breakpoint-md){
margin-bottom: 0px;
    }
    }
    p{
        color: #848E97;
text-align: center;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 21px; 
@media screen and (min-width:$ui-breakpoint-md){
    text-align: start;
        }
    }
}
.what_get_image{
    display: flex;
    flex-direction: column;
justify-content: start;
h2{
    align-self: start;
}
    img{
        width: calc(100% - 40px);
        height: 381px;
        position: absolute;
        right: 0;
        bottom: 0;
        @media screen and (min-width:$ui-breakpoint-md){
           
                }
                @media screen and (min-width:$ui-breakpoint-xl){
                    width: calc(50%);
                    height: 450px;
                    right: 0;
                    bottom: 62px;
                }
            }
            
    }
    .what_get__wrapper-contant{
        @media screen and (min-width:$ui-breakpoint-xl){
display: flex;
align-items: flex-start;
justify-content: start;
                }
            }
    .what_get__md-hide{
        
        @media screen and (min-width:$ui-breakpoint-xl){
         display: none;
        }
    
    }
    .what_get__xl-hide{
        display: none;
       
        @media screen and (min-width:$ui-breakpoint-xl){
       display: block;
        }
    
    }